# Introduction to Python <a class="anchor" id="Introduction_to_Python"></a>
* [Arithmetic operators](#Arithmetic_operators)
* [Python types](#Python_types)
* [Variables, expressions and statements](#Variables_expressions_and_statements)
* [Strings](#Strings)
* [Lists](#Lists)
* [Functions](#imports)
* [if, else, elif, while](#if_else_elif_while)

#### Print statement

In [8]:
print('Hello, World!')

Hello, World!

## [Arithmetic operators](#Introduction_to_Python) <a class="anchor" id="Arithmetic_operators"></a>

In [10]:
50+8

58

In [9]:
50-9

41

In [5]:
50*22

1100

In [6]:
30/6

5.0

Notice that the result is 5.0 and not 5.

You may want to check [this video](https://www.youtube.com/watch?v=PZRI1IfStY0&ab_channel=Computerphile) of Tom Scott in Computerphile to see who computers treat floating point numbers

In [7]:
12*12

144

## [Python types](#Introduction_to_Python) <a class="anchor" id="Python_types"></a>

### [Setting the Data Type](https://www.w3schools.com/python/python_datatypes.asp)

|Category||Types|
|:---|---|:---|
|Text Type||str|
Numeric Types||int, float, complex
Sequence Types||list, tuple, range
Mapping Type||dict
Set Types||set, frozenset
Boolean Type||bool
Binary Types||bytes, bytearray, memoryview
None Type||NoneType

#### String `str()`

In [11]:
x = "Hello World"
print(type(x))

<class 'str'>

'Hello World'

#### Integer `int()`

In [ ]:
x = 20
print(type(x))

#### Floating point number `float()`

In [ ]:
x = 20.5
print(type(x))

#### Complex number `complex()`

In [ ]:
# x = 1j
# print(type(x))

#### List `list()`

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

#### Tuple `tuple()`

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

#### Range `range()`

In [ ]:
x = range(6)
print(type(x))

#### Dictionary `dict()`

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

#### Set `set()`

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

#### Frozenset `frozenset()`

In [ ]:
# x = frozenset({"apple", "banana", "cherry"})
# print(type(x))

#### String

In [ ]:
x = True
print(type(x))

#### Bytes `bytes()`

In [ ]:
# x = b"Hello"
# print(type(x))

#### Byte array `bytearray()`

In [ ]:
# x = bytearray(5)
# print(type(x))

#### MemoryView `memoryview`

In [ ]:
# x = memoryview(bytes(5))
# print(type(x))

#### NoneType

In [ ]:
x = None
print(type(x))

---

## [Variables, expressions and statements](#Introduction_to_Python) <a class="anchor" id="Variables_expressions_and_statements"></a>

An <span style="color:red">__assignment statement__</span> stores a <span style="color:red">__value__</span> to a <span style="color:red">__variable__</span>.

In [16]:
n = '1'
mynameis = 'Suleiman'
print(mynameis)

Suleiman

In [20]:
mynameis = 'Suleiman'
print('Suleiman') # i am assigning the first variable

Suleiman

In [19]:
myageis = 21

In [18]:
pie = 'test'

- __Syntax error__: Something is not according to the rules (syntax of python)

- __Runtime error__: The program has started running, but something has happened and it had to stop.

---

## [Strings](#Introduction_to_Python) <a class="anchor" id="Strings"></a>

In [21]:
name = "Georgios"

In [22]:
name[0]

'G'

In [23]:
name[-1]

's'

In [24]:
name[0:2]

'Ge'

In [25]:
name[-4:-2]

'gi'

In [26]:
len(name)

8

#### Concatenation

In [ ]:
lastname = "Tsolakis"

In [ ]:
fullname = name

#### Can we concatenate strings and numbers?

In [ ]:
x = "class" + " 3"
print(x)

In [28]:
x = "class " + str(3)
print(x)

class 3

#### How can we go around this problem?

---

## [Lists](#Introduction_to_Python) <a class="anchor" id="Lists"></a>

In [30]:
roster1 = ['Suleiman', 'Alex', 'Shama']

In [31]:
roster1[0]

'Suleiman'

In [38]:
len(roster1)

3

In [39]:
roster2 = [['John', 21], ['Maria', 19], ['Tracy', 19]]

In [46]:
print(roster2[0][0])

John

#### Sorting

In [52]:
roster1.sort()

In [53]:
roster1

['Shama', 'Suleiman', 'Takis']

In [44]:
roster1.sort(reverse=True) # True is a keyword

In [37]:
print(list(name))

['G', 'e', 'o', 'r', 'g', 'i', 'o', 's']

#### Strings are ummutable, while lists are mutable
Try to change a string by assigning a specifix character to a specifix index.

In [50]:
roster1[0] = "Takis"

In [ ]:
roster1[0] =

---

## [Functions](#Introduction_to_Python) <a class="anchor" id="Functions"></a>

__"In the context of programming, a function is a named sequence of statements that performs
a computation"__ (Downey 2015, 17)

__function definition__: A statement that creates a new function, specifying its name, parameters,
and the statements it contains (Downey 2015, 25)

__parameter__: A name used inside a function to refer to the value passed as an argument. (Downey 2015, 26)

__argument__: A value provided to a function when the function is called. This value is assigned
to the corresponding parameter in the function. (Downey 2015, 26)

In [54]:
def add(x):
    return x+1

In [55]:
def: type
x: argument
x+1: return value

SyntaxError: invalid syntax (3826952434.py, line 1)

In [56]:
def add(x):
    return x+1

In [57]:
add(3)

4

Notice how important is the __syntax__ and the __indentation__.

## [if, else, elif, while](#Introduction_to_Python) <a class="anchor" id="if_else_elif_while"></a>

In [ ]:
if len(roster1)>2:
    print("OK")

if

else

if

elif

else

---