# Introduction to Python <a class="anchor" id="Introduction_to_Python"></a>
* [Arithmetic operators](#Arithmetic_operators)
* [Python types](#Python_types)
* [Variables, expressions and statements](#Variables_expressions_and_statements)
* [Strings](#Strings)
* [Lists](#Lists)
* [Functions](#imports)
* [if, else, elif, while](#if_else_elif_while)

#### Print statement

In [1]:
print('Hello, World!')

Hello, World!

## [Arithmetic operators](#Introduction_to_Python) <a class="anchor" id="Arithmetic_operators"></a>

In [2]:
50+8

58

In [4]:
50-9

41

In [7]:
(50*22)+1

1101

In [5]:
30/6

5.0

Notice that the result is 5.0 and not 5.

You may want to check [this video](https://www.youtube.com/watch?v=PZRI1IfStY0&ab_channel=Computerphile) of Tom Scott in Computerphile to see who computers treat floating point numbers

In [ ]:
12*12

## [Python types](#Introduction_to_Python) <a class="anchor" id="Python_types"></a>

### [Setting the Data Type](https://www.w3schools.com/python/python_datatypes.asp)

|Category||Types|
|:---|---|:---|
|Text Type||str|
Numeric Types||int, float, complex
Sequence Types||list, tuple, range
Mapping Type||dict
Set Types||set, frozenset
Boolean Type||bool
Binary Types||bytes, bytearray, memoryview
None Type||NoneType

#### String `str()`

In [9]:
x = "Hello World"
print(type(x))

<class 'str'>

#### Integer `int()`

In [10]:
x = 20
print(type(x))

<class 'int'>

#### Floating point number `float()`

In [8]:
x = 20.5
print(type(x))

<class 'float'>

#### Complex number `complex()`

In [12]:
x = 1j
print(type(x))

<class 'complex'>

#### List `list()`

In [16]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

#### Tuple `tuple()`

In [14]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

#### Range `range()`

In [17]:
x = range(6)
print(type(x))

<class 'range'>

#### Dictionary `dict()`

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))

#### Set `set()`

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

#### Frozenset `frozenset()`

In [ ]:
# x = frozenset({"apple", "banana", "cherry"})
# print(type(x))

#### String

In [ ]:
x = True
print(type(x))

#### Bytes `bytes()`

In [ ]:
# x = b"Hello"
# print(type(x))

#### Byte array `bytearray()`

In [ ]:
# x = bytearray(5)
# print(type(x))

#### MemoryView `memoryview`

In [ ]:
# x = memoryview(bytes(5))
# print(type(x))

#### NoneType

In [1]:
x = None
print(type(x))

<class 'NoneType'>

---

## [Variables, expressions and statements](#Introduction_to_Python) <a class="anchor" id="Variables_expressions_and_statements"></a>

An <span style="color:red">__assignment statement__</span> stores a <span style="color:red">__value__</span> to a <span style="color:red">__variable__</span>.

In [3]:
mynameis = 'Alex' #I am assigning first variable
print(mynameis)
#hashtag is longer way to make comments
# but you can also hold Ctrl + ?.

Alex

print(mynameis)

myageis = 20

1pie = 'test'

- __Syntax error__: Something is not according to the rules (syntax of python)

- __Runtime error__: The program has started running, but something has happened and it had to stop.

---

## [Strings](#Introduction_to_Python) <a class="anchor" id="Strings"></a>

In [4]:
name = "Georgios"

In [5]:
name[0] #get first letter

'G'

In [6]:
name[-1] #minus one gives you last letter

's'

In [13]:
name[0:2]

'Ge'

In [8]:
name[-4:-2]

'gi'

In [ ]:
len(name) #length of the value

#### Concatenation

In [14]:
lastname = "Tsolakis"

In [21]:
fullname = name + " " + lastname
print(fullname)
print(f"{name} {lastname}")

Georgios Tsolakis
Georgios Tsolakis

#### Can we concatenate strings and numbers?

x = "class" + 3
print(x)

In [25]:
x = "class" + str(3)
print (x)

class3

#### How can we go around this problem?

---

## [Lists](#Introduction_to_Python) <a class="anchor" id="Lists"></a>

In [27]:
roster1 = ['Suleiman', 'Alex', 'Shama']

In [29]:
roster1[0] # make sure you run original variable before you put it in a command

'Suleiman'

In [30]:
len(roster1)

3

In [39]:
roster2 = [['John', 21], ['Maria', 19], ['Tracy', 19]]
print(roster2[0][1])

21

#### Sorting

In [40]:
roster1.sort()

In [41]:
roster1

['Alex', 'Shama', 'Suleiman']

In [45]:
roster1.sort(reverse=True) # True is a keyword
print(roster1)

['Suleiman', 'Shama', 'Alex']

In [43]:
print(list(name))

['G', 'e', 'o', 'r', 'g', 'i', 'o', 's']

#### Strings are ummutable, while lists are mutable
Try to change a string by assigning a specifix character to a specifix index.

In [46]:
roster1[0] = "Georgios"

In [47]:
roster1 
# now the name in the 0 spot of roster1 is replaced.

['Georgios', 'Shama', 'Alex']

---

## [Functions](#Introduction_to_Python) <a class="anchor" id="Functions"></a>

__"In the context of programming, a function is a named sequence of statements that performs
a computation"__ (Downey 2015, 17)

__function definition__: A statement that creates a new function, specifying its name, parameters,
and the statements it contains (Downey 2015, 25)

__parameter__: A name used inside a function to refer to the value passed as an argument. (Downey 2015, 26)

__argument__: A value provided to a function when the function is called. This value is assigned
to the corresponding parameter in the function. (Downey 2015, 26)

def add(x):
    return x+1

def: type
x: argument
x+1: return value

In [48]:
def add(x):
    return x+1

In [49]:
add(3)

4

Notice how important is the __syntax__ and the __indentation__.

## [if, else, elif, while](#Introduction_to_Python) <a class="anchor" id="if_else_elif_while"></a>

In [50]:
if len(roster1)>2:
    print("OK")

OK

if

else

if

elif

else

---